In [1]:
!pip install requests

Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2025.11.12)

## Practice Problem

### Pick any free API (ex: animal api {cat-facts data}) and go to this api end point read the documentation and fetch all the data and convert it into data frame

In [2]:
import requests

In [20]:
URL = "https://poetrydb.org/title/Ozymandias"

In [21]:
response = requests.get(URL)
response

In [36]:
res = response.json()

In [37]:
res

[{'title': 'Ozymandias',
  'author': 'Percy Bysshe Shelley',
  'lines': ['I met a traveller from an antique land',
   'Who said: Two vast and trunkless legs of stone',
   'Stand in the desert...Near them, on the sand,',
   'Half sunk, a shattered visage lies, whose frown,',
   'And wrinkled lip, and sneer of cold command,',
   'Tell that its sculptor well those passions read',
   'Which yet survive, stamped on these lifeless things,',
   'The hand that mocked them, and the heart that fed:',
   'And on the pedestal these words appear:',
   "'My name is Ozymandias, king of kings:",
   "Look on my works, ye Mighty, and despair!'",
   'Nothing beside remains. Round the decay',
   'Of that colossal wreck, boundless and bare',
   'The lone and level sands stretch far away.'],
  'linecount': '14'}]

In [24]:
import pandas as pd

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\user\AppData\Local\Temp\ipykernel_37420\637854215.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  data = pd.json_normalize(res[["title"]["Ozymandis"]])
C:\Users\user\AppData\Local\Temp\ipykernel_37420\637854215.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  data = pd.json_normalize(res[["title"]["Ozymandis"]])

TypeError: list indices must be integers or slices, not str

In [33]:
data

Empty DataFrame
Columns: []
Index: []